.container {
  padding-top: 15vh;
}

.form {
  margin-left: 5vw;
}

.formTitle {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 72px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.formSubTitle {
  margin-top: 8vh;
  margin-bottom: 8vh;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  letter-spacing: -0.01em;
  color: #d8d5e2;
}

.buttonRow {
  margin-top: 3vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 8vh;
}

.interestBtn {
  cursor: pointer;
  border: 0;
  justify-content: center;
  margin-right: 8px;
  padding: 24px;
  height: 71px;
  background: #141419;
  /* Inside auto layout */
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.activeinteteredbtn {
  background-color: #2e0db3;
  cursor: pointer;
  border: 0;
  justify-content: center;
  margin-right: 8px;
  padding: 24px;
  height: 71px;
  /* Inside auto layout */
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.formInput {
  flex: 1;
  display: flex;
  margin-bottom: 40px;
}

.formInput input {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  letter-spacing: -0.01em;
  color: #d8d5e2;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #56565c;
  padding-bottom: 24px;
  width: 80%;
}

.formInput input::placeholder {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #55555c;
}

.formInput input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.getInTouch {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 4.5vw;
  line-height: 5vw;
  /* identical to box height, or 112% */

  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  cursor: pointer;
  color: #958b69;
  background-color: transparent;
  border: 0;
}

.bottomPicture img {
  margin-top: 10vh;
  width: 100%;
  height: auto;
}
