.footerSection {
  padding-left: 3vw;
  padding-top: 3vw;
  height: 25vh;
  width: 100%;
  background: #0f0f14;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footerEmail {
  font-style: normal;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 3.4vw;
  /* identical to box height, or 200% */

  letter-spacing: -0.02em;
  text-decoration-line: underline;

  color: #ffffff;
}

.footerAddress {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 1.8vw;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #d8d5e2;

  opacity: 0.85;
}
