.navigation {
  /* Auto layout */
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;

  background: #060608;
}

.navigationLinks {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  padding: 0px;
  height: 24px;
  /* Inside auto layout */
}

.navigationLogo {
  color: #ffffff;
  position: relative;
  margin-top: 20px;
  margin-top: 20px;
  background: #060608;
}

.navigationSpacer {
  width: 10vw;
}

.topNav {
  position: fixed;

  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4.167vw;
  padding-right: 4.167vw;
  z-index: 9999;
  background: #060608;
  width: 100vw;
}

.activeNavLink {
  /* text */

  width: 52px;
  height: 24px;

  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  margin-right: 6rem;

  /* active color: #958B69; */
  color: #958b69;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
