.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.testimonial {
  padding-top: 10vh;

  flex: 1;
  display: flex;
  flex-direction: row;
}

.testimonialCard img {
  width: 14vw;
  height: auto;
  margin-right: 11vw;
}

.testimonialContent {
  margin-right: 11vw;
}

.testimonialTitle {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 72px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #ffffff;
  margin-bottom: 4vh;
}

.testimonialBody {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */

  letter-spacing: -0.01em;

  color: #d8d5e2;
  border-bottom: 1px solid #56565c;
  padding-bottom: 10vh;
}
