.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.heroTitle {
}

.heroImage {
  z-index: 1;
}

.heroImage img {
  z-index: 1;
  width: 250%;
  height: auto;
  position: absolute;
  position: absolute;
  right: -350px;
  top: 5px;
  opacity: 0.4;
}

.heroText {
  position: relative;
  width: 400px;
  z-index: 9999;
  margin-top: 100px;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 56px;
  line-height: 110%;
  /* or 53px */
  letter-spacing: -0.01em;
  margin-top: 280px;
  margin-left: 90px;
  color: #ffffff;
}

.contactNow {
  position: relative;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  margin-top: 50px;

  width: 300px;
  height: 130px;

  background: #2e0db3;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.contactNow:hover {
  background-color: #958b69;
}
