.heroTitle {
  width: 708px;
  height: 144px;

  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */
  text-align: right;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.heroImage img {
  position: relative;
  margin-top: -40vh;
  width: 100vw;
  opacity: 0.6;
  height: auto;
  z-index: 0;
}

.heroText {
  width: 708px;
  position: absolute;
  right: 10vw;
  top: 40vh;
  z-index: 2;
}

.heroSpacer {
  position: absolute;
  width: 100vw;
  height: 240px;
  left: 0px;
  top: 108vh;

  background: linear-gradient(180deg, #050507 0%, rgba(5, 5, 7, 0) 100%);
  mix-blend-mode: normal;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.contactButton {
  padding: 60px;

  width: 258px;
  height: 143px;
  position: relative;
  background: #2e0db3;

  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
  margin-top: 45vh;
}

.servicesSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60vh;
  margin-bottom: 20vh;
}

.servicesSection div {
  margin-bottom: 10px;
}

.servicesTitle {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 4.444vw;
  line-height: 5vw;
  /* or 112% */

  letter-spacing: -0.01em;
  z-index: 2;

  color: #ffffff;
}

.servicesText {
  z-index: 999;
  width: 58.681vw;
}

.servicesSubtitle {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 2.222vw;
  line-height: 3.611vw;
  /* or 162% */

  letter-spacing: -0.01em;

  color: #d8d5e2;
  z-index: 999;
}

.cohIcon {
  position: relative;
  margin-top: -9vh;
  z-index: 0;
  margin-bottom: -119vh;
}

.cohIcon img {
  position: relative;

  width: 100vw;
  height: auto;
  z-index: 0;
}

.coachingSection {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.coachingText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 3.4vw;
  line-height: 4.33vw;
  /* identical to box height, or 135% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #d8d5e2;
}

.coachingPicture {
  width: 25vw;
  height: auto;
}

.coachingPicture img {
  width: 25vw;
  height: auto;
  margin-bottom: -3px;
}

.coachingIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25vw;
}

.coachingDescription {
  width: 25vw;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 3.4vw;
  line-height: 4.33vw;
  /* or 120% */

  letter-spacing: -0.01em;

  color: #ffffff;
  background: #2e0db3;
  mix-blend-mode: normal;
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 32px;
}

.coachingSection {
  margin-top: 100px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.nutritionText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 4vw;
  /* identical to box height, or 135% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #d8d5e2;
}

.nutritionPicture {
  width: 25vw;
  height: auto;
}

.nutritionPicture img {
  width: 25vw;
  height: auto;
  margin-bottom: -3px;
}

.nutritionIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25vw;
}

.nutritionDescription {
  width: 25vw;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 3.4vw;
  line-height: 4.33vw;
  /* or 120% */

  letter-spacing: -0.01em;

  color: #ffffff;
  background: #2e0db3;
  mix-blend-mode: normal;
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 32px;
}

.nutritionSection {
  margin-top: -8vh;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.bikefittingText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 4vw;
  /* identical to box height, or 135% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #d8d5e2;
}

.bikefittingPicture {
  width: 25vw;
  height: auto;
}

.bikefittingPicture img {
  width: 25vw;
  height: auto;
}

.bikefittingIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25vw;
}

.bikefittingDescription {
  width: 25vw;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 3vw;
  line-height: 4vw;
  /* or 120% */

  letter-spacing: -0.01em;

  color: #ffffff;
  background: #2e0db3;
  mix-blend-mode: normal;
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 32px;
}

.bikefittingSection {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: -8vh;
}

.moreButtonDivRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.moreButtonDiv {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.moreButton {
  padding: 24px 40px;

  width: 9.375vw;
  height: 8vh;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  background: #2e0db3;
}

.moreButton:hover {
  background-color: #958b69;
}

.interestedSection {
  margin-top: 13.333vh;
  margin-bottom: 13.333vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interestedSectionText {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 2.2vw;
  line-height: 3.6vw;
  margin-bottom: 6vh;
  /* or 162% */

  letter-spacing: -0.01em;

  color: #d8d5e2;
}

.getInTouch {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 4.5vw;
  line-height: 5vw;
  /* identical to box height, or 112% */

  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;

  color: #958b69;
}

.imgCarouselSection {
  margin-top: 13.333vh;
  margin-bottom: 13.333vh;
}

.imgCarouselSection img {
  width: 100vw;
  height: auto;
}

.testimonialsSection {
  margin: 13.333vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.testimonialsText {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 2.1vw;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.testimonialsDarkText {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 2.1vw;
  /* identical to box height */

  text-transform: uppercase;

  color: #9d9da8;
}
