.heroTitle {
  width: 708px;
  height: 144px;

  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */
  text-align: right;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.heroImage img {
  position: relative;
  /* max-width: 330px;
  max-height: 420px; */
  /* max-width: 1.222vw;
  max-height: 46.667vh; */
  /* display: block; */
  margin-top: -30vh;
  width: 100vw;
  opacity: 0.6;
  height: auto;
}

.heroText {
  width: 708px;
  position: absolute;
  right: 10vw;
  top: 40vh;
}
